extends layout

block content
	h1 Existing Tags

	#tags
		ul.list-unstyled
			each tag in tags
				li
					ul.list-inline
						li
							a(href='/tag/destroy/#{tag.id}').btn.btn-danger.btn-xs
								span.glyphicon.glyphicon-remove
							a(href='/tag/#{tag.slug}').btn.btn-primary.btn-xs
								span=tag.title