extends layout

block content
	h1 Existing Tags

	#tags
		ul.list-unstyled
			each courseTag in courses
				li
					h2 #{courseTag.course.code}						
					ul.list-unstyled
						each taglink in courseTag.tags
							li
								ul.list-inline.unstyled
									li
										a(href='/tag/destroy/#{taglink.Tag.id}').btn.btn-danger.btn-xs
											span.glyphicon.glyphicon-remove
										|  
										a(href='/tag/#{taglink.Tag.slug}').btn.btn-primary.btn-xs
											span=taglink.Tag.title