extends layout

block content
	h1=title

	h2 Courses
	ul
	each course in courses
		li
			a(href='/course/' + course.id) #{course.code}
			ul
				each exam in course.Exams
					li
						a(href="/course/" +course.id + "/" + exam.id + "/") #{exam.code}
			


