doctype html
html
	head
		title Xmr
		script(src='/javascripts/jquery.min.js')
	body
		include header
		div.container
			block content
			link(rel='stylesheet', href='/stylesheets/xmr.min.css')
			script(src='/javascripts/xmr.min.js')

