extends layout

block content
	h1=course.code
	h2=exam.code
	a(href='/random/#{course.id}/problem/') Random problem
	h3 Question
	img(src='/'+problem.Question.filename)#question
	h3 Answer
	img(src='/'+problem.Answer.filename)#answer