{{>header}}

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">

  <div class="starter-template">

    <form class="form-inline" role="form" action="/course/add" method="post">
      <div class="form-group">
        <label class="sr-only" for="code">Code</label>
        <input type="text" class="form-control" id="code" name="code" placeholder="Enter course code">
      </div>
      <div class="form-group">
        <label class="sr-only" for="title">name</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter course title">
      </div>
      <button type="submit" name="add" id="add" value="add" class="btn btn-default">Add</button>
    </form>
  </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../javascripts/xmr.min.js"></script>
</body>

{{>foot}}