body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#question {
	width: 50%;
}

#answer {
	width: 50%;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: #f2f2f2;
}